:root {
	--bg-color: #14151a;
	--text-color: #ffffff;
	--button-text: #000000;
	--day-hover-bg-color: #181920;
	--event-hover-bg-color: #2769aa;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

html,
body {
	background-color: var(--bg-color);
	color: var(--text-color);
}

.fc-day:hover {
	background-color: var(--day-hover-bg-color) !important;
	cursor: pointer;
}

.fc-day:has(.fc-event:hover) {
	background-color: var(--bg-color) !important;
}

.fc-event:hover {
	background-color: var(--event-hover-bg-color);
}
